body {
    position:relative;
    background: #f4f4f4;
    font-family:roboto;
}

.dropdown-menu .dropdown-item {
    position:relative;
    font-weight:500;
    font-size:14px;
    line-height:24px;
    color:rgb(41, 43, 44);
}

.dropdown-menu .dropdown-item:focus, 
.dropdown-menu .dropdown-item:hover {
    background:#f7f7f7;
    color:rgb(41, 43, 44);
}

.dropdown-menu .dropdown-item i.dropdown-menu-icon-left {
    width: 24px;
    margin-right:7px;
}

.dropdown-menu .dropdown-header {
    color:#4C4C4C;
    text-transform:uppercase;
    font-size:13px;
}

#header nav {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    height: 70px;
    position: fixed;
    z-index: 11;
    width: 100%;
    left: 0;
    top: 0;
    background: #1d2022;
}

#header nav button.navbar-toggler {
    height:38px;
    margin-right:15px;
    color:rgba(255,255,255,.5);
}

#header nav button.navbar-toggler:hover,
#header nav button.navbar-toggler:focus {
    color:rgba(255,255,255,.75);
    cursor:pointer;
}

#header nav button.navbar-toggler.active {
    color:rgba(255,255,255,1);
}

#header nav .xl-icon {
    font-size: 24px;
    line-height: 36px;
}

#header nav .dropdown-menu {
    position:absolute;
}

#main {
    padding-top:70px;
    padding-bottom:30px;
}

#main > #sidebar {
    position: fixed;
    background: #303438;
    width:268px;
    height: calc(100% - 70px);
    top: 70px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    z-index: 10;
    overflow-y: auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

#main > #sidebar ul.navbar-nav > li > a {
    display:block;
    position:relative;
    padding: 0 15px 0 48px;
    margin: 20px 0 10px;
    font-weight:500;
    color:rgba(255, 255, 255, 0.5);
    line-height:18px;
    font-size:14px;
    text-transform:uppercase;
}

#main > #sidebar ul.navbar-nav > li > a:hover,
#main > #sidebar ul.navbar-nav > li > a.active {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

#main > #sidebar ul.navbar-nav > li > a:first-child:not(:last-child)::after {
    content:'\f078';
    position: absolute;
    right: 15px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-family:FontAwesome;
    -ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#main > #sidebar ul.navbar-nav > li > a.active:first-child:not(:last-child)::after {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#main > #sidebar ul.navbar-nav > li > a > i {
    position:absolute;
    left:15px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul {
    display:block;
    padding:0;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li {
    display:block;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a {
    padding: 0 20px 0 63px;
    font-weight: 500;
    display: block;
    line-height:1.5rem;
    font-size:14px;
    color:rgba(255, 255, 255, 0.5);
}

#main > #sidebar ul.navbar-nav .nav-item-seperator {
    margin-top:10px;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a:hover,
#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a.active {
    color:rgb(255, 255, 255);
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a + ul {
    display:block;
    padding:0;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a + ul > li {
    display:block;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a + ul > li > a {
    padding: 0 20px 0 78px;
    font-weight: 500;
    display: block;
    line-height:1.5rem;
    font-size:14px;
    color:rgba(255, 255, 255, 0.5);
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a + ul > li > a:hover,
#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a + ul > li > a.active {
    color:rgb(255, 255, 255);
}

#main > #content {
    display:block;
    padding-left: 283px;
    padding-right: 15px;
}


@media only screen and (max-width: 1199px) {

    #header nav button.navbar-toggler {
        display:block;
    }

    #main > #sidebar {
        -webkit-transform: translate3d(-288px, 0, 0);
                transform: translate3d(-288px, 0, 0);
        box-shadow: 0 0 20px rgba(14, 18, 21, 0.38);

    }

    #main > #sidebar.toggled {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

    }

    #main > #content {
        padding-left: 15px;
    }

}


@media only screen and (max-width: 991px) {

    .container-alt {
        width:100%;
    }

}


@media screen and (max-width: 767px) {

    .btn-offcanvas {
        color: #fff;
        background-color: #0275d8;
        border-color: #0275d8;
    }

    .btn-offcanvas:hover {
        color: #fff;
        background-color: #025aa5;
        border-color: #01549b;
    }

    .btn-offcanvas:focus, .btn-offcanvas.focus {
        color: #fff;
        -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
                box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
    }

    .btn-offcanvas::before {
        content: "\f0c9";
        font-family: FontAwesome;
    }

    .btn-offcanvas.active {
        background-color: #d9534f;
        border-color: #d9534f;
    }

    .btn-offcanvas.active:hover {
        background-color: #c9302c;
        border-color: #c12e2a;
    }

    .btn-offcanvas.active:focus, .btn-offcanvas.focus {
        -webkit-box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
                box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
    }

    .btn-offcanvas.active::before {
        content: "\f00d";
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -100%;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -100%;
    }

    .row-offcanvas-right.active {
        right: calc(100% + 30px);
    }

    .row-offcanvas-left.active {
        left: calc(100% + 30px);
    }

    .sidebar-offcanvas {
        opacity:0;
        visibility:hidden;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .active .sidebar-offcanvas {
        opacity:1;
        visibility:visible;
    }

}


@media only screen and (max-width: 575px) {

    #main > #content {
        padding:0;
    }

    .container-alt {
        width:100%;
    }

}