body {
    position:relative;
    background: #edecec;
    font-family:roboto;
}

.dropdown-menu .dropdown-item {
    position:relative;
    font-weight:500;
    font-size:14px;
    line-height:24px;
    color:rgb(41, 43, 44);
}

.dropdown-menu .dropdown-item:focus, 
.dropdown-menu .dropdown-item:hover {
    background:#f7f7f7;
    color:rgb(41, 43, 44);
}

.dropdown-menu .dropdown-item i.dropdown-menu-icon-left {
    width: 24px;
    margin-right:7px;
}

.dropdown-menu .dropdown-header {
    color:#4C4C4C;
    text-transform:uppercase;
    font-size:13px;
}

.card-header,
.card-footer {
    background:#fff;
}

datatable > .menu {
    position:relative;
    margin-bottom:15px;
    text-align:right;
}

datatable > .actions > .dropdown,
datagrid > .actions > .dropdown {
    display: inline-block;
}

datatable > .actions > a + a,
datagrid > .actions > a + a,
datatable > .actions > .btn-group + a,
datagrid > .actions > .btn-group + a {
    margin-left:4px;
}

datatable > .data {
    padding: 0 15px;
}

datatable > .data > .row {
    position:relative;
    border-top: 1px solid #eceeef;
}

datatable > .data > .row:first-child {
    border-top:none;
}

datatable > .data > .row > .col {
    padding:15px;
}

datatable > .data > .row > .col.thumbnail > .img-thumbnail {
    display: block;
    position:relative;
    width:64px;
    height:64px;
}

datatable > .data > .row > .col.thumbnail > .img-thumbnail > i {
    display:block;
    position:absolute;
    width:64px;
    height:64px;
    top:0;
    left:0;
    line-height:64px;
    text-align:center;
    font-size:32px;
    color:#0275d8;
}

datatable > .data > .row > .col.primary > h4 {
    color:rgb(41, 43, 44);
    font-weight:500;
    font-size:14px;
    margin:0;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

datatable > .data > .row > .col.primary > h4 a {
    color:rgb(41, 43, 44);
    text-decoration: none;
}

datatable > .data > .row > .col.primary > h4 small {
    color:#636c72;
}

datatable > .data > .row > .col.primary > h4 + ul {
    display:block;
    padding:0;
    margin:3px 0 0 0;
    font-size:12px;
    color:#666;
}

datatable > .data > .row > .col.primary > h4 + ul > li {
    display:block;
}

datatable > .data > .row > .col.secondary {
    text-align: right;
}

datagrid > .data > div {
    position:relative;
}

datagrid > .data > div > a {
    display:block;
    margin-bottom:30px;
    color:rgb(41, 43, 44);
    text-decoration:none;
}

datagrid > .data > div > a > .card > .thumbnail {
    height:121px;
    padding:4px;
    border-bottom:1px solid rgba(0,0,0,.125);
    position:relative;
}

datagrid > .data > div > a > .card > .thumbnail > i {
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    line-height:121px;
    font-size:60px;
    text-align:center;
    color:#0275d8;
}

datagrid > .data > div > a[href]:hover > .card > .thumbnail > i,
datagrid > .data > div > a[href]:focus > .card > .thumbnail > i  {
    color:#014c8c;
}

datagrid > .data > div > a > .card > .thumbnail > img {
    width: 112px;
    position: absolute;
    left:calc(50% - 56px);
    top: 4px;
}

datagrid > .data > div > a[href]:hover > .card > .primary,
datagrid > .data > div > a[href]:focus > .card > .primary,
datagrid > .data > div > a[href]:hover > .card > .secondary,
datagrid > .data > div > a[href]:focus > .card > .secondary {
    background:#f7f7f7;
}

datagrid > .data > div.error > a > .card > .thumbnail > i {
    color:#d9534f!important;
}

datagrid > .data > div.error > a > .card .progress-bar {
    background:#d9534f!important;
}

datagrid > .data > div > a > .card > .primary {
    padding:15px;
}

datagrid > .data > div > a > .card > .primary > h4 {
    color:rgb(41, 43, 44);
    font-weight:500;
    font-size:14px;
    margin:0;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

datagrid > .data > div > a > .card > .primary > h4 small {
    color:#636c72;
}

datagrid > .data > div > a > .card > .primary > h4 + ul {
    display:block;
    padding:0;
    margin:3px 0 0 0;
    font-size:12px;
    color:#666;
}

datagrid > .data > div > a > .card > .primary > h4 + ul > li {
    display:block;
}

datagrid > .data > div > a > .card > .secondary {
    padding: 0 15px 15px 15px;
}

datagrid > .data > div > a + .actions {
    position: absolute;
    top:1px;
    right:16px;
}

datagrid > .data > div > a + .actions > .btn-group > button {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top:none;
    border-right:none;
}

.form-group:last-child {
    margin:0;
}

.alert {
    background:#fff;
    border-width: 0px;
    border-left: 15px solid #000;
    border-radius: 0px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    padding:15px 54px 15px 15px;
}

.alert[data-notify="container"] {
    max-width:544px;
}

.alert button[data-notify="dismiss"] {
    width:24px;
    height:24px;
    line-height:24px;
    text-align:center;
    position:absolute;
    right:15px;
}

.alert [data-notify="title"] {
    display:block;
    font-weight:900;
}

.alert [data-notify="title"]:not(:empty) + [data-notify="message"] {
    font-size:14px;
}

.alert.alert-danger {
    border-color:#a94442;
}

.alert.alert-info {
    border-color:#31708f;
}

.alert.alert-success {
    border-color:#3c763d;
}

.alert.alert-warning {
    border-color:#8a6d3b;
}

.page-header {
    margin-bottom:30px;
}

.page-header small {
    display:block;
    font-size:20px;
    line-height:2em;
    color:#666;
}

.page-header .breadcrumb {
    padding:0;
    margin-bottom:0;
}

.context-menu {
    display:none;
}

.context-menu.open {
    display:block;
}

.context-menu .dropdown-menu {
    display:block;
}

[template] {
    display:none!important;
}

#header nav {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    height: 70px;
    position: fixed;
    z-index: 11;
    width: 100%;
    left: 0;
    top: 0;
    background: #373a3c;
}

#header nav button.navbar-toggler {
    height:38px;
    margin-right:15px;
    color:rgba(255,255,255,.5);
}

#header nav button.navbar-toggler:hover,
#header nav button.navbar-toggler:focus {
    color:rgba(255,255,255,.75);
    cursor:pointer;
}

#header nav button.navbar-toggler.active {
    color:rgba(255,255,255,1);
}

#header nav .xl-icon {
    font-size: 24px;
    line-height: 36px;
}

#header nav .dropdown-menu {
    position:absolute;
}

#main {
    padding-top:70px;
    padding-bottom:30px;
}

#main > #sidebar {
    position: fixed;
    background: #fff;
    width:268px;
    height: calc(100% - 70px);
    top: 70px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    z-index: 10;
    overflow-y: auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

#main > #sidebar ul.navbar-nav > li > a {
    display:block;
    position:relative;
    padding:15px 15px 15px 48px;
    font-weight:500;
    color:rgb(41, 43, 44);
    line-height:18px;
    font-size:14px;
}

#main > #sidebar ul.navbar-nav > li > a:hover,
#main > #sidebar ul.navbar-nav > li > a.active {
    text-decoration: none;
    background-color: #f7f7f7;
}

#main > #sidebar ul.navbar-nav > li > a:first-child:not(:last-child)::after {
    content:'\f078';
    position: absolute;
    right: 15px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-family:FontAwesome;
    -ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#main > #sidebar ul.navbar-nav > li > a.active:first-child:not(:last-child)::after {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#main > #sidebar ul.navbar-nav > li > a > i {
    position:absolute;
    left:15px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul {
    display:block;
    padding:0;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li {
    display:block;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a {
    padding: 8px 20px 8px 48px;
    font-weight: 500;
    display: block;
    line-height:18px;
    font-size:14px;
    color: #989898;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a:first-child:not(:last-child)::after {
    content:'\f078';
    position: absolute;
    right: 15px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-family:FontAwesome;
    -ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a.active:first-child:not(:last-child)::after {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a:hover,
#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a.active {
    color:rgb(41, 43, 44);
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a + div > ul {
    display:block;
    padding:0;
    background:#F7F7F7;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a + div > ul > li {
    display:block;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a + div > ul > li > a {
    padding: 8px 20px 8px 48px;
    font-weight: 500;
    display: block;
    line-height:18px;
    font-size:14px;
    color: #989898;
}

#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a + div > ul > li > a:hover,
#main > #sidebar ul.navbar-nav > li > a + div > ul > li > a + div > ul > li > a.active {
    color:rgb(41, 43, 44);
}

#main > #content {
    display:block;
    padding-left: 283px;
    padding-right: 15px;
}


@media only screen and (max-width: 1199px) {

    #header nav button.navbar-toggler {
        display:block;
    }

    #main > #sidebar {
        -webkit-transform: translate3d(-288px, 0, 0);
                transform: translate3d(-288px, 0, 0);
        box-shadow: 0 0 20px rgba(14, 18, 21, 0.38);

    }

    #main > #sidebar.toggled {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

    }

    #main > #content {
        padding-left: 15px;
    }

}


@media only screen and (max-width: 991px) {

    .container-alt {
        width:100%;
    }

}


@media screen and (max-width: 767px) {

    .btn-offcanvas {
        color: #fff;
        background-color: #0275d8;
        border-color: #0275d8;
    }

    .btn-offcanvas:hover {
        color: #fff;
        background-color: #025aa5;
        border-color: #01549b;
    }

    .btn-offcanvas:focus, .btn-offcanvas.focus {
        color: #fff;
        -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
                box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
    }

    .btn-offcanvas::before {
        content: "\f0c9";
        font-family: FontAwesome;
    }

    .btn-offcanvas.active {
        background-color: #d9534f;
        border-color: #d9534f;
    }

    .btn-offcanvas.active:hover {
        background-color: #c9302c;
        border-color: #c12e2a;
    }

    .btn-offcanvas.active:focus, .btn-offcanvas.focus {
        -webkit-box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
                box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
    }

    .btn-offcanvas.active::before {
        content: "\f00d";
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -100%;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -100%;
    }

    .row-offcanvas-right.active {
        right: calc(100% + 30px);
    }

    .row-offcanvas-left.active {
        left: calc(100% + 30px);
    }

    .sidebar-offcanvas {
        opacity:0;
        visibility:hidden;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .active .sidebar-offcanvas {
        opacity:1;
        visibility:visible;
    }

}


@media only screen and (max-width: 575px) {

    #main > #content {
        padding:0;
    }

    .container-alt {
        width:100%;
    }

    datatable > .data > .row > .col {
        -webkit-flex-basis: initial;
        -ms-flex-preferred-size: initial;
        flex-basis: initial;
        padding-top:0;
    }

    datatable > .data > .row > .col {
        -webkit-flex-basis: initial;
        -ms-flex-preferred-size: initial;
        flex-basis: initial;
        padding-top:0;
    }

    datatable > .data > .row > .col:first-child {
        padding-top:15px;
    }

    datatable > .data > .row > .col.secondary {
        text-align: left;
    }

    datatable > .data > .row > .col.actions {
        position:absolute;
        right:0;
        top:15px;
    }

}


/* FILEPICKER */

    .filepicker p {
        display:block!important;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }

    .filepicker.filepicker-image .input-group-btn:first-child .btn {
        border-top-left-radius: 0;
    }

    .filepicker.filepicker-image .form-control:last-child {
        border-top-right-radius: 0;
    }

    .filepicker.filepicker-image .thumbnail {
        position:relative;
        height:121px;
        padding:4px;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: none;
        border-radius: 0.25rem .25rem 0;
    }

    .filepicker.filepicker-image .thumbnail i {
        display: block;
        position: absolute;
        top:calc(50% - 50px);
        left:0;
        width: 100%;
        line-height: 100px;
        font-size: 60px;
        text-align: center;
        color: #0275d8;
    }

    .filepicker.filepicker-image .thumbnail img {
        position:absolute;
        width:112px;
        left:calc(50% - 56px);
        top:4px;
    }
    
    #filepicker .modal-body .list-group {
        margin:-15px;
    }

    #filepicker .modal-body .list-group .list-group-item {
        border-bottom:none;
        border-left:none;
        border-right:none;
        /*background:transparent;*/
    }

    #filepicker .modal-body .list-group .list-group-item:first-child {
        border-top:none;
    }

    #filepicker .modal-body .list-group .list-group-item[href]:hover,
    #filepicker .modal-body .list-group .list-group-item[href]:focus {
        background:#f7f7f7;
    }

    #filepicker .modal-body .list-group .list-group-item > .thumbnail {
        min-height:40px;
        border-bottom:1px solid rgba(0,0,0,.125);
        position:relative;
    }

    #filepicker .modal-body .list-group .list-group-item > .thumbnail > i {
        display:block;
        position:absolute;
        width:40px;
        line-height:40px;
        font-size:40px;
        text-align:center;
        color:#0275d8;
    }

     #filepicker .modal-body .list-group .list-group-item[href]:hover > .thumbnail > i,
     #filepicker .modal-body .list-group .list-group-item[href]:focus > .thumbnail > i  {
        color:#014c8c;
    }

    #filepicker .modal-body .list-group .list-group-item > .thumbnail img {
        width:44px;
        height:44px;
        position:absolute;
        top:-2px;
        left:-2px;
    }
    
    #filepicker .modal-body .list-group .list-group-item > .primary {
        margin-left:55px;
    }

    #filepicker .modal-body .list-group .list-group-item > .primary > h4 {
        color:rgb(41, 43, 44);
        font-weight:500;
        font-size:14px;
        margin:0;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }

     #filepicker .modal-body .list-group .list-group-item > .primary > h4 small {
        color:#636c72;
    }

     #filepicker .modal-body .list-group .list-group-item > .primary > h4 + ul {
        display:block;
        padding:0;
        margin:3px 0 0 0;
        font-size:12px;
        color:#666;
    }

     #filepicker .modal-body .list-group .list-group-item > .primary > h4 + ul > li {
        display:block;
    }

/* FILEPICKER END */


/* FILE-MANAGER */

    /*#file-manager .dataview-files > a {
        display:block;
        text-decoration:none;
        margin-bottom:30px;
    }

    #file-manager .dataview-files > .btn-group {
        position: absolute;
        top: 1px;
        right: 16px;
    }

    #file-manager .dataview-files > .btn-group button {
        border-top: 0;
        border-right: 0;
        border-color: rgba(0, 0, 0, 0.125);;
        border-radius: 0 0 0 0.2rem;
    }

    #file-manager .dataview-files > .btn-group button:hover,
    #file-manager .dataview-files > .btn-group button:focus {
        background:#f7f7f7;
        box-shadow:none;
    }

    #file-manager .dataview-files > a .card-block {
        padding:12px 20px;
    }

    #file-manager .dataview-files > a[href]:hover .card-block,
    #file-manager .dataview-files > a[href]:focus .card-block {
        background:#f7f7f7;
    }

    #file-manager .dataview-files > a .card-img-top {
        min-height:100px;
        border-bottom:1px solid rgba(0,0,0,.125);
        position:relative;
    }
    
    #file-manager .dataview-files > a .card-img-top > i {
        display:block;
        position:absolute;
        width:100%;
        line-height:100px;
        font-size:60px;
        text-align:center;
        color:#0275d8;
    }

    #file-manager .dataview-files > a[href]:hover .card-img-top > i,
    #file-manager .dataview-files > a[href]:focus .card-img-top > i  {
        color:#014c8c;
    }

    #file-manager .dataview-files.error > a .card-img-top > i {
        color:#d9534f;
    }

    #file-manager .dataview-files.error > a .progress-bar {
        background:#d9534f!important;
    }

    #file-manager .dataview-files > a .card-title {
        color:rgb(41, 43, 44);
        font-weight:500;
        font-size:14px;
        margin:0;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }

    #file-manager .dataview-files > a .card-text {
        display:block;
        padding:0;
        margin:3px 0 0 0;
        font-size:12px;
        color:#666;
    }

    #file-manager .dataview-files > a ul.card-text li {
        display:block;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }

    #file-manager .dataview-files > a .progress {
        border-radius:0;
    }*/

/* FILE-MANAGER END */